@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:url('../public/chat-app-background.png');
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}